<?xml version="1.0" encoding="utf-8"?>
<manifest package="observer.zagart.by.client"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/observer_mipmap"
        android:label="@string/app_name"
        android:theme="@style/ObserverDefault">
        <activity
            android:name=".mvp.views.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <data
                    android:host="observer.zagart.by.client"
                    android:path="/observer_folder"
                    android:port="200"
                    android:scheme="content"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".mvp.views.LoginActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".mvp.views.MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mvp.views.ContentActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".mvp.views.MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mvp.views.SettingsActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".mvp.views.MainActivity"
            android:screenOrientation="portrait"/>

        <service
            android:name=".application.accounts.ObserverAuthenticatorService"
            android:exported="false">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/observer_authenticator"/>
        </service>

        <provider
            android:name=".mvp.models.repository.ObserverContentProvider"
            android:authorities="observer.zagart.by.client.mvp.models.repository.ObserverContentProvider"
            android:exported="false"/>

    </application>

</manifest>